name = "ai-news"
account_id = "29ecd202a5a215c26990eaf3072a6dd1"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

main = ".open-next/worker.js"
assets = { directory = ".open-next/assets", binding = "ASSETS" }
